<!DOCTYPE html>
<html>
<head>
    <title>Todo Planner</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutposts.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">

    
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <script type="text/javascript" src="/Jquery/lib/jquery.min.js"></script>
 
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tasks</a>
            </div>
        </div>
    </nav>
 
    <div class="container">
        <h1 class="mb-4">
            Task And Notes Manager 
        </h1>
        <a href="/todos/form "class="btn btn-success">Add New Task</a>
    </div>

    
    <div class="container mt-2">
    <form class="d-flex d-flex-row" action="/todos?_method=GET" method="POST">
        <select class="custom-select" name="filters">
          <option selected>Select Filters</option>
          <option value="priority">High to Low Priority</option>
          <option value="dateDesc">Recent Tasks</option>
          <option value="dateAsc">Older Tasks</option>
          <option value="status">Status Wise</option>
        </select>
        <button type="submit" class="btn btn-outline-primary mb-2 ml-4">Apply</button>
      </form>
    </div>


<div class="container cardstyle">
    <div id="accordion">
        <% todos.forEach(todo=>{ %>
        <div class="card">
          <div class="card-header" id="heading<%=todo.id%>">
            <h5 class="mb-0">
                <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapse<%=todo.id%>" aria-expanded="false" aria-controls="collapse<%=todo.id%>">
                  <p class="lead"><%= todo.title %></p>
                </button>
              </h5>
          </div>
          <div id="collapse<%=todo.id%>" class="collapse" aria-labelledby="heading<%=todo.id%>" data-parent="#accordion">
            <div class="card-body">
                <h5 class="card-title"><p class="lead">Posted on:- <%= todo.due.toLocaleDateString()%></p></h5>
                <h5 class="card-title"><p class="lead text-capitalize">Task Priority:- <%= todo.priority%></p></h5>
                <h5 class="card-title"><p class="lead text-capitalize">Task Status:- <%= todo.status%></p></h5>
                <p class="card-text"><%-todo.description%></p>
                <a href="/todos/<%=todo.id%>" class="btn btn-outline-primary">Edit</a>
                <a href="/todos/<%=todo.id%>/notes" class="btn btn-outline-primary ml-3">Notes</a>
            </div>
            <div class="card">
                <div class="card-header text-dark">
                    Notes
                </div>
                <div class="card-body">
                    <form action="/todos/<%=todo.id%>/notes" method="post">
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Add Notes</button>
                      </form>
                </div>
            </div>
          </div>
        </div>
        <%}); %>
    </div>
    
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>